<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>
    <script th:src="@{/admin/js/pages/addOrEditPost.js}"></script>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Posts</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Post</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </div>
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Please enter information for a new post</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="needs-validation" onsubmit="return validateCKEditorContent();">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input class="form-control" type="text" name="title"  id="title" placeholder="Enter title" required>
                    </div>

                    <div>
                      <textarea class="form-control" id="editor" name="editor" required></textarea>
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary mt-4">Publish</button>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="category">Catetory</label>
                          <select class="custom-select rounded-0" id="category">
                            <option>Value 1</option>
                            <option>Value 2</option>
                            <option>Value 3</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="thumbnailFile">Thumbnail</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input form-group" id="thumbnailFile" accept="image/*" required>
                              <label class="custom-file-label" for="thumbnailFile" id="thumbnailLabel">Choose file</label>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <div class="form-group">
                          <img class="rounded float-right" id="previewImage" src="/admin/img/photo1.png"  width="90" height="70"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </div>
  </body>

</html>
<script>
  document.getElementById('thumbnailFile').addEventListener('change', function() {
    var file = this.files[0]; // Lấy file từ danh sách các files được chọn
    var fileName = file.name; // Lấy tên của file
    var label = document.getElementById('thumbnailLabel');
    var img = document.getElementById('previewImage');
    label.innerHTML = fileName; // Hiển thị tên của file trong label

    var reader = new FileReader(); // Tạo một đối tượng FileReader để đọc dữ liệu của file

    reader.onload = function(e) {
      // Khi file được đọc thành công, gán dữ liệu dưới dạng URL vào thuộc tính src của thẻ img
      img.src = e.target.result;
    }

    // Đọc file dưới dạng URL
    reader.readAsDataURL(file);
  });


</script>
<script>
  // Định nghĩa hàm kiểm tra dữ liệu của CKEditor trước khi gửi form đi
  function validateCKEditorContent() {
    // Lấy nội dung của CKEditor
    var editorData = CKEDITOR.instances['editor'].getData();

    // Kiểm tra xem nội dung có rỗng không
    if (editorData.trim() === '') {
      alert('Please enter content for the post.');
      return false; // Ngăn form được gửi đi
    }
    // Nếu nội dung hợp lệ, cho phép form được gửi đi
    return true;
  }
</script>