<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}"
>
  <head>

  </head>
  <body>
    <div layout:fragment="content">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Posts</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Posts</li>
                <li class="breadcrumb-item active">List</li>
              </ol>
            </div>
            <script th:inline="javascript">
              /*<![CDATA[*/
              var message = /*[[${message}]]*/ null;
              var alert = /*[[${alert}]]*/ null;
              var notFound = /*[[${postPage.hasContent()}]]*/ null;
              /*]]>*/
            </script>
            <script>
              window.onload = function() {
                handleToastrMessage(message,alert,notFound);
              };
              function handleToastrMessage(message,alert, notFound) {
                if (message && alert) {
                  toastr[alert](message);
                }
                if (!notFound) {
                  alert = 'warning';
                  message = 'Your search keyword does not exist';
                  toastr[alert](message);
                }
              }
            </script>
          </div>
        </div><!-- /.container-fluid -->
       </div>
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- jquery validation -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Posts</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col-6">
                        <form th:action="@{/admin/posts/list}">
                          <div class="input-group">
                            <input
                                    type="text"
                                    name="title"
                                    id="title"
                                    class="form-control me-2"
                                    placeholder="Search for..."
                            />

                            <div class="input-group-btn">
                              <button class="btn btn-primary"><i class="fas fa-search fa-sm"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <a class="btn btn-primary btn-sm" th:href="@{/admin/posts/add}">New </a>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table
                              class="table table-bordered text-center"
                              id="dataTable"
                              th:if="${postPage.hasContent()}"
                      >
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Title</th>
                          <th>Category</th>
                          <th>Status</th>
                          <th>Time</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each=" post, iStat : ${postPage.content}">
                          <td>[[${post.id}]]</td>
                          <td th:text="${post.title}"></td>
                          <td th:text="${post.categoryName}"></td>
                          <td th:text="${post.status}"></td>
                          <td th:text="${#dates.format(post.createDate, 'dd/MM/yyyy')}"></td>
                          <td class="justify-content-center">
                            <a
                                    th:href="@{'/admin/posts/edit/' + ${post.id}}"
                                    title="Edit"
                                    data-toggle="tooltip"
                            ><i class="fas fa-pen"></i
                            ></a>

                              <a
                                      th:data-id="${post.id}"
                                      onclick="showConfirmModalDialog(this.getAttribute('data-id'))"
                                      title="Delete"
                                      data-toggle="tooltip"
                              >
                              <i class="fas fa-trash" style="color: red; margin-left: 4px"></i
                            ></a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <!-- Modal Body -->
                      <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                      <div class="modal fade" id="confirmationId" >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Confirmation</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p> Do you want to delete ?</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="row card-footer text-muted bg-white justify-content-start">
                    <div class="col-2">
                      <form class="form-inline">
                        <div class="form-group">
                          <select
                                  name="size"
                                  id="size"
                                  class="form-select form-select-lg"
                                  onchange="this.form.submit()"
                          >
                            <option th:selected="${postPage.size == 5}" value="5">5</option>
                            <option th:selected="${postPage.size == 10}" value="10">10</option>
                            <option th:selected="${postPage.size == 15}" value="15">15</option>
                            <option th:selected="${postPage.size == 20}" value="20">20</option>
                            <option th:selected="${postPage.size == 30}" value="30">30</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col text-end">
                      <nav aria-label="Page navigation" th:if="${postPage.totalPages > 0}">
                        <ul class="pagination justify-content-end">
                          <li th:class="${1 == postPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a
                                    th:href="@{/admin/posts/list(name=${name}, size=${postPage.size},page=${1})}"
                                    class="page-link"
                            >First</a
                            >
                          </li>
                          <li
                                  class="page-item active"
                                  th:each=" pageNumber : ${pageNumbers}"
                                  th:if="${postPage.totalPages > 1}"
                                  th:class="${pageNumber == postPage.number + 1} ? 'page-item active' : 'page-item'"
                          >
                            <a
                                    th:href="@{/admin/posts/list(name=${name}, size=${postPage.size},page=${pageNumber})}"
                                    class="page-link"
                                    th:text="${pageNumber}"
                            ></a>
                          </li>
                          <li
                                  th:class="${postPage.totalPages == postPage.number + 1} ? 'page-item active': 'page-item'"
                          >
                            <a
                                    th:href="@{/admin/posts/list(name=${name}, size=${postPage.size},page=${postPage.totalPages})}"
                                    class="page-link"
                            >Last</a
                            >
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
    </div>

  </body>

</html>
<script>
  function showConfirmModalDialog(id) {
    $('#yesOption').attr('href', '/admin/categories/delete/' + id);
    $('#confirmationId').modal('show');
  }
</script>